{% extends 'users/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}Log in{% endblock %}
{% block login %}

    <div class="wrapper">
        <div class="container">
            <div class="auth__page">
                <div class="auth__page__bg">
                    <div class="auth__page__second__bg">
                        <div class="auth__page__content">
                            <div class="auth__page__title">choco loco</div>
                            <div class="auth__page__secondary">
                                <div class="auth__page__line">
                                    <img src="https://raw.githubusercontent.com/college-2023/Sanzhar-Meerim/main/img/line.png" alt="line">
                                </div>
                                <div class="auth__page__line__text">enjoy with us</div>
                                <div class="auth__page__line second__line">
                                    <img src="https://raw.githubusercontent.com/college-2023/Sanzhar-Meerim/main/img/line.png" alt="line">
                                </div>
                            </div>
                            <div class="auth__page__third">
                                <img src="https://raw.githubusercontent.com/college-2023/Sanzhar-Meerim/main/img/painting.png" alt="painting">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auth__page__part">
                    <div class="form" id="form">
                        <div class="form__title">Вход</div>
                        <form method="POST" action="" class="form__inputs">
                            {% csrf_token %}
                            <div class="form__input">
                                <label for="email" class="form__label">E-mail</label>
                                <div class="form__input__elem">
                                    <input type="text" id="email" name="username" required="" placeholder="Ведите e-mail">
                                </div>
                            </div>
                            <div class="form__input">
                                <label for="password" class="form__label">Password</label>
                                <div class="form__input__elem">
                                    <input type="password" >
                                    <input class="auth__input" type="password" name="password" required="" id="password" placeholder="Ведите password">
                                </div>
                            </div>

                            <div class="form__buttons">
                                <button class="auth__button">Войти</button>
                            </div>

                            {% for message in messages%}
                            <p id="messages">{{message}}</p>
                            {% endfor %}

                            <div class="form__buttons">
                                <div class="form__link">
                                    <a href="{% url 'registerUser' %}">Регистрация</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
