{% extends 'users/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}Log in{% endblock %}
{% block login %}

<div class="login-box">
<h2>Login</h2>
<form method="POST" action="">
        {% csrf_token %}

<div class="user-box">
    <input type="text" name="" required="">
    <label>Username</label>
</div>
<div class="user-box">
    <input type="password" name="" required="">
    <label>Password</label>
</div>
<a href="#">
    <span></span>
    <span></span>

    <span></span>
            <span></span> Sign In
        </a>
    </form>
</div>

<!--{% for message in messages%}-->
<!--<p id="messages">{{message}}</p>-->
<!--{% endfor %}-->
<!--<div class="mt-4">-->
<!--    <div class="d-flex justify-content-center links">-->
<!--        Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>-->
<!--    </div>-->


{% endblock %}


