{% extends 'users/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}Meerim{% endblock %}
{% block register %}

<div class="wrapper">
    <div class="container">
        <div class="auth__page">
            <div class="auth__page__bg">
                <div class="auth__page__second__bg">
                    <div class="auth__page__content">
                        <div class="auth__page__title">choco loco</div>
                        <div class="auth__page__secondary">
                            <div class="auth__page__line">
                                <img src="https://raw.githubusercontent.com/college-2023/Sanzhar-Meerim/main/assets/line.png" alt="line">
                            </div>
                            <div class="auth__page__line__text">enjoy with us</div>
                            <div class="auth__page__line second__line">
                                <img src="https://raw.githubusercontent.com/college-2023/Sanzhar-Meerim/main/assets/line.png" alt="line">
                            </div>
                        </div>
                        <div class="auth__page__third">
                            <img src="https://raw.githubusercontent.com/college-2023/Sanzhar-Meerim/main/assets/painting.png" alt="painting">
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth__page__part">
                <div class="form" id="form">
                    <div class="form__title">Регистрация</div>
                    <form method="POST" action="" class="form__inputs" >
                        {% csrf_token %}
                        <div class="form__input">
                            <label class="form__label">Никнейм</label>
                            <div class="form__input__elem">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form__input">
                            <label class="form__label">Пароль</label>
                            <div class="form__input__elem">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="form__input">
                            <label class="form__label">Потвердите пароль</label>
                            <div class="form__input__elem">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="form__buttons">
                            <button class="auth__button">Зарегистрироваться</button>
                        </div>

                        <div class="form__buttons">
                            <div class="form__link">
                                У меня есть аккаунт <a href="{% url 'loginUser' %}" class="ml-2">Войти</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
